* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-editor {
  width: 100%;
  padding: .5rem;
  position: fixed;
  height: 100vh;
}

.editor {
  background: rgba(70, 70, 70, 0.91);
  width: 50%;
  overflow-x: auto;
  overflow-y: auto;
  /*box-shadow: 0 1px 1px rgb(22, 22, 22);*/
  /*outline: none;*/
  /*padding: 0.4rem;*/
  height: 90vh;
  font-size: large;
  white-space: nowrap;
}

.editor h2 {
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-size: large;
  color: white;
  padding: 20px;
  /*background: linear-gradient(to right, #090979, #020024)*/
  background-image: linear-gradient(to right, #17335c, #353e7c, #5f4598, #9146ac, #c73eb6);
  position: sticky;
  top: 0;
  width: 100%;
  /*overflow: auto;*/
  margin: auto;
}

.main-editor .editor pre {
  display:none;
}

.main-editor .editor pre.active {
  display: block;
}

.main-editor iframe {
  display:none;
}

.main-editor iframe.active {
  display: block;
}

#top_nav li:hover ul{
  display: block;
}

#top_nav li {
  list-style-type: none;
}

#top_nav ul:after{
  content: ".";
  display: block;
  height: 0px;
  clear:both;
  visibility: hidden;
}

#top_nav li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 8px;
}

#top_nav ul ul {
  position: absolute;
  display: none;
  left: 0px;
  background-color: grey;
  width: 100%;
}

#top_nav ul ul li {
  width: 99%;
}

a {
  text-decoration: none;
  text-align: center;
}

.editor::-webkit-scrollbar {
  width: .7em;
  height: .7em;
}

.editor::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

pre {
  background: #303030;
  color: #f1f1f1;
  padding: 5px 8px;
  counter-reset: line;
  border-radius: 2px;
  border-top: 5px solid #00aeef;
  white-space: line;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  word-wrap: break-word;
}

pre.load {
  display: inline-block;
}

pre code {
  display: block;
}

pre code:before {
  min-width: 25px;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 2px solid #ddd;
  padding: 0 1em;
  margin-right: .5em;
  color: #888;
  text-align: right;
}

.sink {
  background-color: rgb(233, 108, 45);
}

.vulnerability {
  background-color: rgb(233, 0, 0);
}

iframe {
  background-color: rgb(255, 255, 255);
  width: 50%;
  overflow-y: auto;
  right: 0;
  box-shadow: 0 1px 1px rgb(22, 22, 22);
  padding: 0.4rem;
  height: 90vh;
}


@media only screen and (max-width: 1200px) {

  .editor {
    display: block;
    width: 100%;
    font-size: medium;
  }

  iframe {
    display: none;
  }

}

@media only screen and (max-width: 600px) {

  .main-editor {
    padding: 0rem;
    position: fixed;
    height: 100vh;
  }

  .editor {
    font-size: small;
  }

  pre code:before {
    border-right: 1.5px solid #ddd;
    padding: 0 .5em;
  }

}